version: '3.8'
services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    ports:
      - "27017:27017"
    networks:
      - spendsmart-net
    volumes:
      - mongo-data:/data/db

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - MONGODB_URI=mongodb://mongo:27017/spendsmart_auth
      - JWT_SECRET=supersecretkey123456789
    networks:
      - spendsmart-net
    # volumes:
    #   - ./auth-service:/app
    
  # transactions-service:
  #   build: ./transactions-service
  #   container_name: transactions-service
  #   ports:
  #     - "3002:3002"
  #   environment:
  #     - MONGODB_URI=mongodb://mongo:27017/spendsmart_transactions
  #     - PORT=3002
  #     - JWT_SECRET=supersecretkey123456789
  #     - PLAID_CLIENT_ID=6811b0c8ae79ac0022b608ea
  #     - PLAID_SECRET=59f9af53807fde9ae4a08673035004
  #     - PLAID_ENV=sandbox
  #     - EXCHANGE_RATE_API_KEY=3718334aed30702bc6f102a1
  #   networks:
  #     - spendsmart-net
  #   # volumes:
  #   #   - ./transactions-service:/app

  manual-transactions-service:
    build: ./manual-transactions-service
    container_name: manual-transactions-service
    ports:
      - "3005:3005"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/spendsmart_expense
      - PORT=3005
      - JWT_SECRET=supersecretkey123456789
      - EXCHANGE_RATE_API_KEY=3718334aed30702bc6f102a1
    networks:
      - spendsmart-net
    # volumes:
    #   - ./manual-transactions-service:/app
    
  budget-savings-service:
    build: ./budget-savings-service
    container_name: budget-savings-service
    ports:
      - "3003:3003"
    environment:
      - PORT=3003
      - MONGODB_URI=mongodb://mongo:27017/spendsmart_budget
      - JWT_SECRET=supersecretkey123456789
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_USER=naveenkumarskht77@gmail.com
      - SMTP_PASS=uplmuqqhphhjdhsk
      - AUTH_SERVICE_URL=http://auth-service:3001
      - MANUAL_TRANSACTIONS_SERVICE_URL=http://manual-transactions-service:3005
    networks:
      - spendsmart-net
    # volumes:
    #   - ./budget-savings-service:/app/
  
  api-gateway:
    build: ./api-gateway
    ports:
      - "9090:9090"
      - "9876:9876"       
    depends_on:
      - auth-service
      # - transactions-service
      - manual-transactions-service
      - budget-savings-service
      - ai-advisor-service
    environment:
      - JWT_SECRET=supersecretkey123456789
      - AUTH_SERVICE_URL=http://auth-service:3001
      - MANUAL_TRANSACTIONS_SERVICE_URL=http://manual-transactions-service:3005
      # - TRANSACTIONS_SERVICE_URL=http://transactions-service:3002
      - BUDGET_SAVINGS_SERVICE_URL=http://budget-savings-service:3003
      - AI_ADVISOR_SERVICE_URL=http://ai-advisor-service:3004
    networks:
      - spendsmart-net
    # volumes:
    #   - ./api-gateway:/app
  
  ai-advisor-service:
    build: ./ai-advisor-service
    container_name: ai-advisor-service
    ports:
      - "3004:3004"
    depends_on:
      - ai-llm
    environment:
      - PORT=3004
      - JWT_SECRET=supersecretkey123456789
      - AUTH_SERVICE_URL=http://auth-service:3001
      - MODEL_NAME=llama3.2
      - MODEL_PROVIDER=ollama
      - OLLAMA_HOST=http://ai-llm:11434
    networks:
      - spendsmart-net
    # volumes:
      # - ./ai-advisor-service:/app

  ai-llm:
    image: ollama/ollama:latest
    container_name: ai-llm
    ports:
      - "11434:11434"
    volumes:
      - ~/.ollama:/root/.ollama
    networks:
      - spendsmart-net

volumes:
  mongo-data:

networks:
  spendsmart-net:
    driver: bridge
